html {
  scroll-padding-top: 80px;
  background-color: var(--body-bg);
}

body {
  font-family: $font-family-secondary;
  overflow-x: hidden !important;
  font-size: $font-size-base;
  color: var(--body-color);
  background-color: var(--body-bg);
}

@media (max-width: 1199px) {
  html {
    scroll-padding-top: 120px;
  }

  body {
    font-size: 0.9rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: $font-family-base;
  line-height: 1.4;
  font-weight: 500;
  // color: #11181c !important;
}

h1,
.h1 {
  font-size: 2rem !important;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

h2,
.h2 {
  font-size: 1.5rem !important;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}

h3,
.h3 {
  font-size: 1.25rem !important;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}

h4,
.h4 {
  font-size: 1rem !important;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

h5,
.h5 {
  font-size: 1rem !important;
}

h6,
.h6 {
  font-size: 0.8rem !important;
}

::selection {
  background: var(--primary);
  color: var(--white);
  opacity: 0.9;
}

a {
  text-decoration: none;
  transition: all 0.5s ease;
  color: var(--primary);

  &:hover {
    color: var(--primary-800);
  }
}

p {
  line-height: 2;
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: #687076;
}

img {
  height: auto;
}

table {
  font-size: 0.9rem !important;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 1px;
}

.fs-5 {
  font-size: 1.25rem !important;
  margin-top: 10px;
}

.banner {
    color: #FFFFFF;
    position: relative;
    height: 250px;
    border-radius: 10px;
    overflow: hidden;

  .banner_back {
    position: absolute;
    // z-index: -1;
    left: 0%;
  }

  .projection {
    position: absolute;
     right: 171px; 
    top:2%;
     width: 55%; 
     height: auto; 
    height: 86%;
    right: 10%;
    // z-index: -1;
  }

  .title {
    font-size: 36px;
    font-weight: bold;
    color: #fff !important;
  }

  .text {
    font-size: 16px;
    color: #fff !important;
  }
}

.m-l60 {
  margin-left: 60px;
}

.w80 {
  position: absolute;
    z-index: 99;
    top: -30px;
  width: 70%;
}

.m-t64 {
  margin-top: 64px;
}